body {
  font-size: 14px;
  color: rgba(255,255,255,1);
  font-family: Helvetica Neue;
  background: rgba(0,0,0,1);
  margin: 2rem;
}
.dropbtn {
  z-index: 4;
  margin: 1rem;
  display: inline-block;
  border-radius: 3rem;
  background-color: blue;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 40px;
}
.dropbtn:hover{
  rotate: -90deg;
  transition: 0.25s;
}
.dropdown {
  display: inline-block;
  position: fixed;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  font-size: 20px;
  min-width: 6rem;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #000000;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0000ff;}

.head{
  align-items: right;
  display: block;
  margin-right: 5rem;
  text-align: right;
  border-radius: 3rem;
  margin: 4rem;
}

.name {
  font-weight: Medium;
  font-size: 150px;
}
.sub {
  font-family: Helvetica Neue;
  font-weight: light;
  font-style: Italic;
  font-size: 60px;
}

.block{
  align-items: center;
  padding: 2rem;
  align-self: center;
  margin: 2rem;
}
.title{
  font-size: 70px;
  display: flex;
  font-weight: bold;
  text-align: left;
  margin: 5rem;
}

.item{
  display: grid;
  grid-template-columns: auto auto;
  align-items: left;
}

p3{
  font-weight: bold;
  font-size: 25px;
}
p4{
  font-size: 25px;
  padding-bottom: 4rem;
}
.block:hover{
  background-color: blue;
  border-radius: 2rem;
  transition: 0.5s;
  opacity: 60%;
}
